/*
======================================================================

    Nix Daily Main Stylesheet
    04-26-2020

    --------------------------------------------------

    TOC:
    # Imports
    # Main
    # Bootstrap
        ## Dropdown
    # Custom
        ## Selection
        ## Cursor*
        ## Scrollbar*
        ## Tooltip
        ## Shadow
        ## Rotate
        ## Font
    # Utility Classes
        ## Text Align
        ## Float
        ## Text Tools
        ## Round Class
        ## Shadow Colors
        ## Material Depth
        ## Material Icons Sizes
        ## Image Sizes
        ## Row Tools
        ## List
    # Global Classes
        ## Button Classes
        ## Typography Classes
    # Pages
        ## Override
        ## General
            ### General - Button
            ### General - Dropdown
            ### General - Section
            ### General - Slogan
            ### General - Center
            ### General - Links
            ### General - Navigation
        ## Home
        ## Menu
        ## About
        ## Contact

    # Snippets
        ## 

======================================================================
*/

/* # Main
* ----------------------------------------------------- */
body {
  background-color: black;
}

/* # Pages
* ----------------------------------------------------- */

/* ## General */
.content-wrapper {
  padding: 2.5rem 0;
}

.media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  font-weight: bold;
  color: white;
}

/* ### General - Navigation */
.nav-item {
  color: #FFFFFF;
}

/* ## Home */
#intro.s-section {
  padding: 3rem;
  /* background-color: #005a3f; */
  background-color: #00044a;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
}

#article.s-section, #faq.s-section {
  padding: 3rem 1.5rem 3rem 1.5rem;
  background-color: #ffffff;
}

#faq-header.s-section {
  padding: 0.25rem 1.5rem 0.25rem 1.5rem;
  background-color: rgb(0, 103, 184);
}

#features.s-section {
  padding: 3rem 1.5rem 0rem 1.5rem;
  background-color: #f3f7f8;
  border-bottom: 10px solid lightgray;
}

#org-chart.s-section {
  background-color: #000c12;
  background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
}

#quotes.s-section {
  padding: 3rem 1.5rem 3rem 1.5rem;
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}

#terms-of-service.s-section, #privacy-policy.s-section, #disclaimer.s-section {
  margin-top: 66px;
  padding: 3rem 1.5rem 3rem 1.5rem;
  background-color: #ffffff;
}

.card-header {
  cursor: pointer;
}

.footer-link {
  color: #999999;
}

.footer-link:hover {
  color: white;
}

.features-column {
  margin-bottom: 4rem;
  padding: 2rem;
}

.news-column {
  margin-bottom: 4rem;
  padding: 2rem;
  border: 1px solid lightgray;;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.news-column:hover {
  border: 1px solid gray;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1)) brightness(1.1);
  transform: translateY(-8px);
}

.news-header {
  font-weight: bold;
  text-align: center;
}

.news-icon, .features-icon {
  text-align: center;
}

.news-text, .features-text {
  text-align: center;
}

.news-title {
  font-weight: 600;
  margin-top: 1rem;
}

.features-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 1rem;
}

.features-desc {
  font-family: 'Montserrat','Helvetica','Arial',sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 15px;
}

.news-desc {
  font-family: 'Basier Circle';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* word-break: break-all; */
}

.img-background {
  object-fit: contain;
}

.s-background {
  margin-top: 66px;
}

.zoomin-image{
  width: auto;
  height: 100%;
}